<div class="container">
  <div class="row" id="form-card">
    <!-- INTENIONALLY EMPTY TO CENTER FORM -->
    <div class="col-md-1"></div>

    <form class="login m-5 p-5 col-md-10 m-xs-3" method="post">

      <p class="text-center h1 mb-4" id="form-header">Log In</p>

      <label for="inputEmail">Email (Required)</label>
      <input type="email" class="form-control mb-4" placeholder="E-mail" id="email-input">

      <label for="inputPassword">Password (Required)</label>
      <input type="password" class="form-control mb-4" placeholder="Password" id="password-input">

      <button type="submit" class="btn btn-primary btn-block btn-lg  mb-4" id="loginSubmit">Submit</button>

      <p class="text-center" id="registerHere">Don't have an account? <a href="/">Register here</a> </p>
    </form>

    <!-- INTENIONALLY EMPTY TO CENTER FORM -->
  </div>
  <div class="col-md-1"></div>
</div>

<script type="text/javascript" src="js/login.js"></script>