<div class="container">
  <div class="row" id="form-card">
    <!-- INTENIONALLY EMPTY TO CENTER FORM -->
    <div class="col-md-1"></div>

    <form class="signup m-5 p-5 col-md-10 m-xs-3" method="post">

      <p class="text-center h1 mb-4" id="form-header">Create Account</p>

      <div class="form-row">
        <div class="form-group col-md-6 mb-4">
          <label for="inputFirstName">First Name</label>
          <input type="text" class="form-control" placeholder="First Name" id="inputFirstName">
        </div>
        <div class="form-group col-md-6 mb-4">
          <label for="inputLastName">Last Name</label>
          <input type="text" class="form-control" placeholder="Last Name" id="inputLastName">
        </div>
      </div>

      <label for="inputEmail">Email (Required)</label>
      <input type="email" class="form-control mb-4" placeholder="E-mail" id="email-input">

      <label for="inputPassword">Password (Required)</label>
      <input type="password" class="form-control mb-4" placeholder="Password" id="password-input">

      <button type="submit" class="btn btn-primary btn-block btn-lg" id="loginSubmit">Submit</button>

    </form>

    <!-- INTENIONALLY EMPTY TO CENTER FORM -->
    <div class="col-md-1"></div>
  </div>
</div>
<p>Or log in <a href="/login">here</a></p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/signup.js"></script>
