body {
  /* background-color: #c2c9d1; */
  height: 100vh;
}

.container-fluid {
  box-shadow: 0 0 40px #dee2e6;
}

.activity-image {
  /* height: 150px; */
  width: 150px;
}

.activity-square {
  /* background-color: #333c48; */
  background-color: white;
}

.activity-square:hover {
  background-color: rgba(71, 204, 255, .1);
  cursor: pointer;
}

.left-activity-square {
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.right-activity-square {
  border-left: 1px solid #919ca6;
  border-bottom: 1px solid #dee2e6;
}

.activity-square-body {
  border-top: 1px solid #919ca6;
}

.activity-square p {
  color: #242B33;
  font-family: arial;
  font-weight: bold;
  letter-spacing: 1px;
}

#moreSoon {
  color: white;
}

.top-activity {
  border-top: 2px solid #dee2e6;
}
