/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
} */

body {
  height: 100vh;
}

.navbar {
  background-color: #33CCFF;
  color: white;
}

#profilePicture {
  width: 300px;
  height: 300px;
  border: 5px solid #33CCFF;
  box-shadow: 0 0 20px rgba(0, 0,0, .5);
  object-fit: fill;
  border-radius: 50%;
}

#profileName {
  color: #454545;
  font-weight: bold;
}

#pictureChange {
  position: absolute;
  margin-top: 245px;
  height: 60px;
  width: 60px;
  /* margin-right: 40px; */
  margin-left: -100px;
  border-radius: 50%;
  background-color: #33CCFF;
  color: white;
}

#pictureChange:hover {
  background-color: #00b8f5;
}

.profileInformation {
  margin-bottom: 0;
  color: #454545;
}

.profileInformationContent {
  margin-bottom: 0;
  color: #454545;
}

.profileRow {
  background-color: #e9ecef;
}

.container-fluid {
  padding: 0;
  overflow: hidden;
}

a:link,a:visited,a:hover,a:active {
  text-decoration: none;
}

#matches {
  background-color: #33CCFF;
  color: white;
}
#matches:hover {
  background-color: #00b8f5;
}

/* .title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover, a:hover {
  opacity: 0.7;
} */
