body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(../images/login-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Form Styling */
#form-card {
  padding: 150px 0;
}

form {
  background-color: rgba(0, 0, 0, .8);
  border-radius: 10px;
  box-shadow: 0 2px 40px rgba(0, 0,0, .5);
}

label {
  color: white;
  font-family: arial;
}

#form-header {
  color: white;
  font-family: arial;
  font-weight: bold;
}

.form-control {
  /* background-color: #55677B; */
  background-color: #495058b3;
  border: 0;
  color: white;
}

.form-control::placeholder {
  color: rgba(145, 162, 183, .5);
}

.form-control:focus {
  background-color: #55677B;
  border: 1.5px solid #548BFF;
  box-shadow: 0 0 0;
  color: white;
  transition: border .2s ease-in;
}

#loginSubmit {
  background-color: #6598FF;
  font-family: arial;
  font-weight: bold;
}

#loginSubmit:hover {
  background-color: #5C8CE6;
}
